* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
  background-position: top;

  color: rgb(218, 209, 209);
}

a {
  color: rgb(196, 174, 133);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
}

.start-quiz p {
  display: flex;
  padding: 20px 10px 25px 10px;
}

a:hover {
  padding: 5px;
}

#timer {
  position: absolute;
  right: 50px;
  padding: 5px;
  font-size: 16px;
  color: rgb(196, 174, 133);
}

.correctAns {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

.view-high-score {
  box-sizing: border-box;
  padding-top: 1px;
  font-size: 16px;
}

.container {
  position: absolute;
  width: 40%;
  height: 500px;
  margin: auto;
  padding: 14px;
  top: 100px;
  right: 0px;
  bottom: 0;
  left: 0;
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: large;
}

h1 {
  font-size: 28px;
  padding: 9px;
}

.question h3 {
  font-size: 24px;
}

.start,
.submitBtn {
  font-weight: bold;
  height: 30px;
  width: 200px;
  border: 1px solid #ead4b8;
  border-radius: 5px;
  margin: 10px auto;
  background-color: rgb(44, 102, 122);
  font-size: 18px;
  color: rgb(196, 174, 133);
}

.result,
.saved-high-score {
  display: none;
}

.start:hover,
.answerButtons:hover,
.submitBtn:hover {
  opacity: 0.8;
  border: 2px solid rgb(196, 174, 133);
}

.answerButtons {
  display: flex;
  flex-direction: column;
  margin: 25px 160px 5px 160px;
}

.alert-user {
  font-size: 20px;
  padding: 10px;
}

.correct-answer {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

.initial {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px auto;
  font-size: 18px;
}

.initial h4 {
  padding: 10px;
}

.user-initial {
  font-size: 16px;
  height: 28px;
}

.initial h4 {
  padding: 10px;
}

.choice {
  height: 40px;
  font-size: 16px;
  background-color: rgb(239, 221, 185);
  border-radius: 5px;
  margin: 7px;
}

.choice:hover {
  background-color: rgb(196, 174, 133);
  cursor: pointer;
}

.highScoreBtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.saved-high-score h1 {
  padding: 5px;
  color: rgb(196, 174, 133);
  display: block;
  padding: 20px;
}

#highscores {
  font-size: 24px;
  padding: 10px;
}

#clear,
#go-back {
  padding: 10px;
  font-weight: bold;
  background-color: rgb(196, 174, 133);
  border-radius: 5px;
  margin: 5px;
}

#clear:hover,
#go-back:hover {
  opacity: 0.8;
  border: 2px solid rgb(196, 174, 133);
}
