* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
a:hover {
  padding: 5px;
}
#timer {
  right: 15px;
  font-size: 20px;
  padding-right: 35px;
  position: absolute;
}
.high-score {
  box-sizing: border-box;
  font-size: 20px;
}
.start-quiz-section p {
  text-align: start;
  padding: 20px 10px 25px 10px;
}

.start-quiz-section,
.quiz-section,
.high-score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.correct-answer {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
.startBtn,
.submitBtn {
  font-weight: bold;
  height: 30px;
  width: 100px;
  border: 1px solid #ead4b8;
  border-radius: 5px;
  margin: 10px auto;
  background-color: #351c75;
  font-size: 18px;
  color: rgb(196, 174, 133);
}
.result,
.high-score-section {
  display: none;
}
.startBtn :hover,
.answer-button:hover,
.submitBtn:hover {
  opacity: 0.8;
  border: 2px solid rgb(196, 174, 133);
}
.answer-buttons {
  display: flex;
  flex-direction: column;
  margin: 25px 160px 5px 160px;
}
.alert-user {
  font-size: 20px;
  padding: 10px;
}
.correct-answer {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
.initial {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px auto;
  font-size: 18px;
}

.initial h4 {
  padding: 10px;
}

.user-initial {
  font-size: 16px;
  height: 28px;
}
#clear,
#go-back {
  padding: 10px;
  font-weight: bold;
  background-color: rgb(196, 174, 133);
  border-radius: 5px;
  margin: 5px;
}

#clear:hover,
#go-back:hover {
  opacity: 0.8;
  border: 2px solid rgb(196, 174, 133);
}
